<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306304383227-nmiislnsm09349c43b5tbvugfdhe7nf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306304383227-nmiislnsm09349c43b5tbvugfdhe7nf3</string>
	<key>API_KEY</key>
	<string>AIzaSyAZa3PA5P2MWk6pnPp7NRjqofqDJXaMoco</string>
	<key>GCM_SENDER_ID</key>
	<string>306304383227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dobigaster.CinemaTv</string>
	<key>PROJECT_ID</key>
	<string>cinematv-ec25f</string>
	<key>STORAGE_BUCKET</key>
	<string>cinematv-ec25f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306304383227:ios:826b51c384efb85db0585e</string>
</dict>
</plist>